<h1>Stupid Coaching</h1>

<form action="/answer">
  <p>Ask your coach anything:</p>
  <input class="form-space" type="text" name="question" placeholder="Type a question" height="40px" width="100px">
  <input type="submit" value="Ask" class="blue-button">
</form>
